<footer>
    <ul class="menu-footer">
        <li><a href="#"> Acompanhe seu pedido </a></li> |
        <li><a href="#"> Formas de pagamento </a></li> |
        <li><a href="#"> Política de devolução </a></li> |
        <li><a href="#"> Garantias </a></li>
    </ul>
    <ul class="menu-social">
        <li><a href="#"><i class="fab fa-facebook-square" id="facebook-button"></i> </a></li>
        <li><a href="#"><i class="fab fa-whatsapp-square" id="whatsapp-button"></i> </a></li>
    </ul>
</footer>