<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre</h6>
                <p class="text-justify">Mussum Ipsum, cacilds vidis litro abertis. Mé faiz elementum girarzis,
                    nisi eros vermeio. Delegadis gente finis, bibendum egestas augue arcu ut est.
                    Si num tem leite então bota uma pinga aí cumpadi! Sapien
                    in monti palavris qui num significa nadis i pareci latim.</p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Navegação</h6>
                <ul class="footer-links">
                    <li><a href="#">Política de devolução</a></li>
                    <li><a href="#">dfdg</a></li>
                    <li><a href="#">fdg</a></li>
                    <li><a href="#">Garantia</a></li>

                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Social</h6>
                <ul class="footer-links">
                    <li><a href="#"><i class="fab fa-facebook-square" id="social-icon"></i> Curta-nos no Facebook</a>
                    </li>
                    <li><a href="#"><i class="fab fa-facebook-messenger" id="social-icon"></i> Messenger </a></li>
                    <li><a href="#"><i class="fab fa-whatsapp" id="social-icon"></i> Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="madewith">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <center>
                    <p>Feito com &#10084; por Luisa M. Lemes</p>
                </center>
                </p>
            </div>
        </div>
    </div>
</footer>