<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <h6>Sobre</h6>
                <p class="text-justify"> A TECSHOP é uma empresa de assistência técnica para equipamentos de
                    informática,
                    eletrônicos e eletrodomésticos, situada na cidade de Santa Cecília - SC.
                </p>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Navegação</h6>
                <ul class="footer-links">
                    <li><a href="#">Política de devolução</a></li>
                    <li><a href="#">Comissões</a></li>
                    <li><a href="#">Garantias</a></li>
                    <li><a href="#">Perguntas frequentes</a></li>

                </ul>
            </div>

            <div class="col-xs-6 col-md-3">
                <h6>Social</h6>
                <ul class="footer-links">
                    <li><a href="https://www.facebook.com/TECSHOPBR/"><i class="fab fa-facebook-square"
                                id="social-icon"></i> Curta-nos no Facebook</a>
                    </li>
                    <li><a href="https://www.messenger.com/t/TECSHOPBR/"><i class="fab fa-facebook-messenger"
                                id="social-icon"></i> Messenger </a></li>
                    <li><a href="https://api.whatsapp.com/send?1=pt_BR&phone=5549991807754"><i class="fab fa-whatsapp"
                                id="social-icon"></i> Whatsapp</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container" id="madewith">
        <div class="row">
            <div class="col-md-12 col-sm-6 col-xs-12">
                <center>
                    <p>Feito com &#10084; por Luisa M. Lemes</p>
                </center>
                </p>
            </div>
        </div>
    </div>
</footer>