<header id="main-menu">
        <nav>
                <ul>
                        <li><a href="/"><i class="fas fa-home"></i></a><a href="/" class="menu-text">
                                        Ínício </a>
                        </li> |
                        <li><a href="/produtos"><i class="fas fa-shopping-bag"></i></a><a href="/produtos"
                                        class="menu-text">
                                        Produtos </a></li>
                        |
                        <li><a href="/orcamentos"><i class="fas fa-tools"></i></a><a href="/orcamentos"
                                        class="menu-text">
                                        Orçamentos </a></li> |
                        <li><a href="/comissoes"><i class="fas fa-hand-holding-usd"></i></a><a href="/comissoes"
                                        class="menu-text">
                                        Comissões </a>
                        </li> |
                        <li><a href="/localizacao"><i class="fas fa-map-marked-alt"></i></a><a href="/localizacao"
                                        class="menu-text">
                                        Localização </a>
                        </li> |
                        <li><a href="/contato"><i class="fas fa-envelope"></i></a><a href="/contato"
                                        class="menu-text"></i>
                                        Contato </a></li>
                </ul>
        </nav>
</header>