<div class="contact-form">
    <p> Envie sua dúvida, sugestão ou reclamação para a <b>TECSHOP</b></p>
    <form method="POST" action="email">
        <input type="text" id="subject" name="subject" placeholder="Assunto" required>
        <input type="email" id="email" name="email" placeholder="E-mail" required>
        <textarea id="text" name="text" placeholder="Sua Mensagem" required></textarea>
        <button type="submit" id="submit">Enviar</button>

    </form>
</div>