<h1>Política de Devoluções e Trocas </h1>
<p> A troca ou devolução de um produto com reembolso é possível nos seguintes casos:
    <ol>
        <li> Arrependimento da compra de um produto * </li>
        <li> Produto diferente do anunciado * </li>
        <li> Desejo de troca de um produto reebido como presente * </li>
    </ol>
</p>
<h5> * Somente com a nota de venda da TECSHOP, dentro do prazo máximo de 30 dias a partir da data de compra, no mesmo
    estado em que foi comprado. Tentativas de troca/devolução de produtos com defeitos/marcas de mau uso não serão
    efetuadas. </h5>