<h1> Perguntas Frequentes </h1>

<h2>Onde atende a TECSHOP?</h2>
<p> A TECSHOP atende em estabelecimento comercial na cidade de Santa Cecília - SC.
    Confira nosso endereço e rotas <a href="#"> aqui </a>.
</p>
<h2>Com que tipos de aparelhos a TECSHOP trabalha?</h2>
<p> Aparelhos de telefonia (smartphones, celulares, telefones fixos), informática (Computadores desktop,
    tablets, notebooks, netbooks, impressoras, scanners e similares), demais eletrônicos (Aparelhos de som, câmeras,
    filmadoras, videogames,
    VHS, DVDs, e similares), e eletrodomésticos (Televisores, lavadoras, máquinas de costura, liquidificadores, e
    similares).
</p>