<h1> Garantias </h1>
<h2> Garantia de Serviços </h2>
<p> Em caso de defeitos após a realização de um serviço, ou caso o serviço não tenha resolvido o problema
    alegado pelo cliente: </p>
<ol>
    <li> Reposição de peça com defeito *</li>
    <li> Realização de um novo serviço * </li>
</ol>
<p>* Sem custo adicional </p>
<p>* Apenas referente ao serviço/peça que consta na ordem de serviço.</p>
<h2> Garantia de Produtos </h2>
<p>Em caso de defeitos em produtos NOVOS, a garantia dependerá das condições do FABRICANTE. Não
    cobre defeitos por mau uso do produto.
</p>
<p> Em caso de produtos USADOS, a garantia da TECSHOP cobre os primeiros 30 dias a partir da
    compra. Não cobre defeitos causados por mau uso. </p>