<div id="center"> <img class="logo" src="https://imgbbb.com/images/2019/06/02/tecshop-png2213059b2c8aaffd.png">
    <div class="wrapper"></div>
    <div class="input-group"><input type="text" class="form-control" placeholder="O que você está procurando?" />
    </div>
</div>
</div>