<div id="center"> <img class="logo" src="https://imgbbb.com/images/2019/06/22/fgha84084fd0e73ef58.png">
    <div class="wrapper"></div>
    <div class="input-group"><input type="text" class="form-control" placeholder="O que você está procurando?" />
    </div>
</div>
</div>