<div id="center"> <img class="logo" src="https://imgbbb.com/images/2019/06/02/tecshop-png2213059b2c8aaffd.png">
        <h1> A mais completa loja e assistência </br> técnica de eletrônicos de </br> Santa Cecília </h1> </br>
        <div class="input-group"><input type="text" class="form-control" placeholder="Pesquisar" />
        <button class="input-group-addon" type="submit"><i class="fas fa-search"></i></button>
    </div>
</div>