<div class="map">
    <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28448.29084092103!2d-50.429693424637506!3d-26.965748018836525!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94e0c1f40a9ccd97%3A0xa8cca3e3b66f8067!2sSanta+Cec%C3%ADlia%2C+SC%2C+89540-000!5e0!3m2!1spt-BR!2sbr!4v1559672685537!5m2!1spt-BR!2sbr"
        width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>