<div class="productlist-page">


    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="photo"
                                src="https://images-americanas.b2w.io/produtos/01/00/oferta/134252/8/134252810_1GG.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Samsung Galaxy M20 </a></h3>
                        <div class="price">R$ 1400,00
                        </div>
                        <a href="#" class="product-more"> + Ver Mais </a>
                    </div>
                </div>
            </div>



            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="photo"
                                src="https://images.lojaiplace.com.br/imagens/small/fone-de-ouvido-beats-by-dre-ep-on-ear-vermelho-1_z_small.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Headphone Beats Vermelho</a></h3>
                        <div class="price">R$ 100,00
                        </div>
                        <a href="#" class="product-more"> + Ver Mais </a>
                    </div>
                </div>
            </div>




            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="photo"
                                src="https://euquefiz.com/media/catalog/product/cache/1/image/800x800/9df78eab33525d08d6e5fb8d27136e95/u/n/unicornio_baby_claro.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Capinha Iphone 6 Unicórnio</a></h3>
                        <div class="price">R$ 15,00
                        </div>
                        <a href="#" class="product-more"> + Ver Mais </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="photo"
                                src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwcfGK8WlbcmNijOP6rb9AGxArGhGmr45fauGlSTdVp8Vm7eRV">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Kit Gamer Teclado + Mouse + Headphone + Mousepad </a></h3>
                        <div class="price">R$ 200,00
                        </div>
                        <a href="#" class="product-more"> + Ver Mais </a>
                    </div>
                </div>
            </div>


            <div class="col-md-3 col-sm-6">
                <div class="product-grid">
                    <div class="product-image">
                        <a href="#">
                            <img class="photo"
                                src="https://a-static.mlcdn.com.br/618x463/celular-para-idosos-vita-3-multilaser-p9048-2-chips-sos-teclas-grandes/globaleletro/2276/5fb9a1b30fd7a68141c1b52c63ea3868.jpg">
                        </a>
                    </div>
                    <div class="product-content">
                        <h3 class="title"><a href="#">Dumbphone Multilaser</a></h3>
                        <div class="price">R$ 60,00
                        </div>
                        <a href="#" class="product-more"> + Ver Mais </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</div>